{% extends 'catalogo/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <div class="linha__documento">
                                    <p class="imagem__titulo">Número:</p><p class="imagem__atributos">{{ item.numero }}</p>   
                                </div>
                                <div class="linha__documento">
                                    <p class="imagem__titulo">Data:</p><p class="imagem__atributos">{{ item.data }}</p>   
                                </div>
                                <div class="linha__documento">
                                    <p class="imagem__titulo">Ementa:</p><p class="imagem__atributos">{{ item.ementa }}</p>   
                                </div>
                                <div class="linha__documento">
                                    <p class="imagem__titulo">Assinatura:</p><p class="imagem__atributos">{{ item.assinatura }}</p>   
                                </div>
                                <div class="linha__documento">
                                    <p class="imagem__titulo">Assunto:</p><p class="imagem__atributos">{{ item.assunto }}</p>   
                                </div>
                                <div class="linha__documento">
                                    <p class="imagem__titulo">Referência:</p><p class="imagem__atributos">{{ item.referencia }}</p>   
                                </div>
                                <div class="linha__documento">
                                    <p class="imagem__titulo">Local:</p><p class="imagem__atributos">{{ item.local }}</p>   
                                </div>
                                <div class="linha__documento">
                                    <p class="imagem__titulo">Entidade de origem:</p><p class="imagem__atributos">{{ item.entidade_origem }}</p>   
                                </div>
                                <div class="linha__documento">
                                    <p class="imagem__titulo">Palavras Chave:</p><p class="imagem__atributos">{{ item.palavras_chave }}</p>   
                                </div>
                                <div class="linha__documento">
                                    <a class="botao__pdf" href="{% url 'view_documentolg' item.pk %}">PDF</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}