<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            font-size: 12px;
            width: auto;
            overflow-wrap: break-word;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <title>Pdf documento fp</title>
    </head>
        <body>
            <div>
                <strong>Número: </strong>{{documento.numero}}
                <hr>
                <strong>Tipo: </strong>{{documento.tipo}}
                <hr>
                <strong>Título: </strong>{{documento.titulo}}
                <hr>
                <strong>Remetente: </strong>{{documento.remetente}}
                <hr>
                <strong>Destinatário: </strong>{{documento.destinatario}}
                <hr>
                <strong>Data: </strong>{{documento.data}}
                <hr>
                <strong>Referência: </strong>{{documento.referencia}}
                <hr>
                <strong>Assunto: </strong>{{documento.assunto}}
                <hr>
                <strong>Palavras chave: </strong>{{documento.palavras_chave}}
            </div>
        </body>

</html>