<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            font-size: 12px;
            width: auto;
            overflow-wrap: break-word;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <title>Pdf documento lg</title>
    </head>
        <body>
                <strong>Número: </strong>{{documento.numero}}
                <hr>
                <strong>Data: </strong>{{documento.data}}
                <hr>
                <strong>Ementa: </strong>{{documento.ementa}}
                <hr>
                <strong>Assinatura: </strong>{{documento.assinatura}}
                <hr>
                <strong>Assunto: </strong>{{documento.assunto}}
                <hr>
                <strong>Referência: </strong>{{documento.referencia}}
                <hr>
                <strong>Local: </strong>{{documento.local}}
                <hr>
                <strong>Entidade de origem: </strong>{{documento.entidade_origem}}
                <hr>
                <strong>Palavras chave: </strong>{{documento.palavras_chave}}
        </body>

</html>